<!DOCTYPE html>
<html>
<head>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial;
            padding: 5px;
            background: #f1f1f1;
        }

        /* Header/Blog Title */
        .header {
            padding: 30px;
            text-align: center;
            background: white;
        }

            .header h1 {
                font-size: 50px;
            }

        /* Style the top navigation bar */
        .topnav {
            overflow: hidden;
            background-color: #333;
        }

            /* Style the topnav links */
            .topnav a {
                float: right;
                display: block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                /* Change color on hover */
                .topnav a:hover {
                    background-color: #ddd;
                    color: black;
                }

        /* Create two unequal columns that floats next to each other */
        /* Left column */
        .leftcolumn {
            float: left;
            width: 75%;
        }

        /* Right column */
        .rightcolumn {
            float: left;
            width: 25%;
            background-color: #f1f1f1;
            padding-left: 20px;
        }

        /* Fake image */
        .fakeimg {
            background-color: #aaa;
            width: 100%;
            padding: 20px;
        }

        /* Add a card effect for articles */
        .card {
            background-color: white;
            padding: 20px;
            margin-top: 20px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Footer */
        .footer {
            padding: 20px;
            text-align: center;
            background: #ddd;
            margin-top: 20px;
        }

        /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
        @@media screen and (max-width: 800px) {
            .leftcolumn, .rightcolumn {
                width: 100%;
                padding: 0;
            }
        }

        /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
        @@media screen and (max-width: 400px) {
            .topnav a {
                float: none;
                width: 100%;
            }
        }
    </style>


    <meta charset="utf-8">
    <title>מערכת ניהול חוות 2021</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--Font-->
    @*<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600' rel='stylesheet' type='text/css'>*@

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">

    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">

</head>
<body>

    <div class="header">
        <h1>מערכת ניהול חוות</h1>
        @*<p>מערכת ניהול כבשים - מהדי עסלי 2021</p>*@
    </div>

    <div class="topnav">
        <a href="@Url.Action("ShowMyHome","Home")">דף ראשי</a>
        <a href="@Url.Action("AddNewSheepPage","Home")">תיק חדש</a>
        <a href="@Url.Action("MoveGroupPage","Home")">קבוצות</a>
        <a href="@Url.Action("Vacs","Home")">חיסונים</a>
        <a href="@Url.Action("Hasroot","Home")">הזרעות</a>
        <a href="@Url.Action("Hamlatot","Home")">המלטות</a>
        <a href="@Url.Action("EditSettings","Settings")">הגדרות</a>
    </div>

    @RenderBody()

    <footer>
        <div class="container">
            <div class="row">
                <div class="span6">
                    Copyright 2021 | All Rights Reserved  <br>
                    <small>-Mahdi Asali-</small>
                </div>
                <div class="span6">
                    <div class="social pull-right">
                        <a href="#"><img src="~/Content/img/social/googleplus.png" alt=""></a>
                        <a href="#"><img src="~/Content/img/social/dribbble.png" alt=""></a>
                        <a href="#"><img src="~/Content/img/social/twitter.png" alt=""></a>
                        <a href="#"><img src="~/Content/img/social/dribbble.png" alt=""></a>
                        <a href="#"><img src="~/Content/img/social/rss.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
