@model DeerManager.ViewModels.UserViewModel



@{
    ViewBag.Title = "AdvancedDetails";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<style>
    p{
        color:red;
        font-size:18px;
    }
    p:hover{
        color:green;
        border:dotted;
    }   
</style>
@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = Model.maintblSheeps.Blood,
        Value = Model.maintblSheeps.Blood,
        Selected = true
    });
    listItems.Add(new SelectListItem
    {
        Text = "++",
        Value = "++"
    });
    listItems.Add(new SelectListItem
    {
        Text = "B+",
        Value = "B+"
    });
    listItems.Add(new SelectListItem
    {
        Text = "BB",
        Value = "BB"
    });
    listItems.Add(new SelectListItem
    {
        Text = "אחר",
        Value = "אחר"
    });


    List<SelectListItem> GroupList = new List<SelectListItem>();
    GroupList.Add(new SelectListItem
    {
        Text = Model.maintblSheeps.Group.ToString(),
        Value = Model.maintblSheeps.Group.ToString(),
        Selected = true
    });
    GroupList.Add(new SelectListItem
    {
        Text = "1",
        Value = "1"
    });
    GroupList.Add(new SelectListItem
    {
        Text = "2",
        Value = "2"
    });
    GroupList.Add(new SelectListItem
    {
        Text = "3",
        Value = "3"
    });
    GroupList.Add(new SelectListItem
    {
        Text = "4",
        Value = "4"
    });
    GroupList.Add(new SelectListItem
    {
        Text = "5",
        Value = "5"
    });
    GroupList.Add(new SelectListItem
    {
        Text = "6",
        Value = "6"
    });
    GroupList.Add(new SelectListItem
    {
        Text = "7",
        Value = "7"
    });
    GroupList.Add(new SelectListItem
    {
        Text = "8",
        Value = "8"
    });
    GroupList.Add(new SelectListItem
    {
        Text = "9",
        Value = "9"
    });
    GroupList.Add(new SelectListItem
    {
        Text = "10",
        Value = "10"
    });
    List<SelectListItem> GenderList = new List<SelectListItem>();
    GenderList.Add(new SelectListItem
    {
        Text = Model.maintblSheeps.Gender,
        Value = Model.maintblSheeps.Gender,
        Selected = true
    }) ;
    GenderList.Add(new SelectListItem
    {
        Text = "זכר",
        Value = "זכר"
    });
    GenderList.Add(new SelectListItem
    {
        Text = "נקבה",
        Value = "נקבה"
    });

}



<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@using (Html.BeginForm("AdvancedDetailsUpdate", "Home", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
<div style="text-align:center" ;>
    <div class="editor-field">
        <div>תעודה מזהה</div>
        @Html.TextBoxFor(model => model.maintblSheeps.Id, new { @readonly = "readonly" })
    </div>
    <div class="form-group">
        <h4>מספר הכבש</h4>
        @Html.EditorFor(model => model.maintblSheeps.SheepNum, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.maintblSheeps.SheepNum)
    </div>

    <div class="form-group">
        <div>סוג דם</div>
        @Html.DropDownListFor(model => model.maintblSheeps.Blood, listItems)
    </div>

    <div class="form-group">
        <div> מין</div>
        @Html.DropDownListFor(model => model.maintblSheeps.Gender, GenderList)
    </div>
    <div class="form-group">
        <div class="form-group" style="direction: rtl;">
            <div>קבוצה</div>
            @Html.DropDownListFor(model => model.maintblSheeps.Group, GroupList)
        </div>
    </div>
    <div class="form-group">
        <div style="text-align:center" ;>
            <h6>תאריך לידה</h6>
            <div class="input-group">
                @Html.EditorFor(model => model.maintblSheeps.Birthday, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div style="text-align:center" ;>
            <div>מידע כללי</div>
            @Html.TextAreaFor(m => m.shpDetail.Information, 10, 120, htmlAttributes: new { style = "width: 60%; max-width: 50%;text-align: right;dir=rtl;" })
        </div>
    </div>
    <div class="form-group">
        <div style="text-align:center" ;>
            <div>מחלות רקע</div>
            @Html.TextAreaFor(m => m.shpDiseases.ShpDisease, 10, 120, htmlAttributes: new { style = "width: 60%; max-width: 50%;text-align: right;dir=rtl;" })
        </div>
    </div>
    <p>המידע הבא הוא לקריאה בלבד אם תרצה לשנות מידע נא לפנות לף הרלוונטי</p>
    <div class="form-group">
        <div style="text-align:center" ;>
            <div> היסטורית הזרעות </div>
            <select name="HasraaHistory" id="HasraaHistory">
                @{
                    for (int i = 0; i < Model.shpHasraa.Count; i++)
                    {
                        <option value="@i">@Model.shpHasraa[i].DateOfHasraa</option>
                    }
                    if (Model.shpHasraa.Count < 1)
                    {
                        <option value="NULL">אין</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div style="text-align:center" ;>
            <div> היסטורית המלטה </div>
            <select name="HasraaHistory" id="HasraaHistory">
                @{
                    for (int i = 0; i < Model.shpHamlata.Count; i++)
                    {
                        <option value="@i">מספר טלאים @Model.shpHamlata[i].amount , @Model.shpHamlata[i].dateOfHamlata </option>
                    }
                    if (Model.shpHamlata.Count < 1)
                    {
                        <option value="NULL">אין</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div style="text-align:center" ;>
            <div> היסטורית שבירת הריון </div>
            <select name="HasraaHistory" id="HasraaHistory">
                @{
                    for (int i = 0; i < Model.takserTable.Count; i++)
                    {
                        <option value="@i">@Model.takserTable[i].DateOfTakser </option>
                    }
                    if (Model.takserTable.Count < 1)
                    {
                        <option value="NULL">אין</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <input type="button" title="דף ראשי" value="עבור לדף הראשי" onclick="location.href='@Url.Action("ShowMyHome", "Home")'" class="btn btn-info" />
        <input type="submit" value="עדכן" class="btn btn-warning" />
        <input type="button" value="מחק" class="btn btn-danger" onclick="Delete(@Model.maintblSheeps.Id)" />
    </div>
</div>
}
<script>
   function Delete(id) {
            if(confirm('האם אתה בטוח שברצונך למחוק  ?' + id))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete","Home")/' + id
                });
                window.location = "/Home"; //return to home
            }
    }
    function PopupForm(url) {
        var formDiv = $('<div/>');
        $.get(url)
            .done(function (response) {
                formDiv.html(response);
                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: true,
                    title: 'נא למלות את הנתונים',
                    height: 350,
                    width: 400,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }
                });
            });
    }
    function SubmitForm(form) {
        $.validator.unobtrusive.parse(form);
        if ($(form).valid()) {
            $.ajax({
                type: "POST",
                url: form.action,
                data: $(form).serialize(),
                success: function (data) {
                    if (data.success) {
                        Popup.dialog('close');
                        dataTable.ajax.reload();

                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })

                    }
                }
            });
        }
        return false;
    }
</script>
