@model DeerManager.ViewModels.UserViewModel



@{
    ViewBag.Title = "AdvancedDetails";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}



@using (Html.BeginForm("AdvancedDetailsUpdate", "Home", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
<div style="text-align:center" ;>
    <div class="editor-field">
        <div>תעודה מזהה</div>
        @Html.EditorFor(model => model.maintblSheeps.Id, new
   { disabled = "disabled", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <h4>מספר הכבש</h4>
        @Html.EditorFor(model => model.maintblSheeps.SheepNum, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.maintblSheeps.SheepNum)
    </div>
    <div class="form-group">
        <h4>סוג הדם</h4>
        @Html.EditorFor(model => model.maintblSheeps.Blood, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.maintblSheeps.Blood)
    </div>
    <div class="form-group">
        <h4>מין</h4>
        @Html.EditorFor(model => model.maintblSheeps.Gender, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">

        <div class="form-group" style="direction: rtl;">
            <div>קבוצה</div>
            <select name="Group" id="Group">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="8">9</option>
                <option value="8">10</option>
            </select>
        </div>
    </div>




        <div class="form-group">
            <div style="text-align:center" ;>
                <h6>תאריך לידה</h6>
                <div class="input-group">
                    @Html.EditorFor(model => model.maintblSheeps.Birthday, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div style="text-align:center" ;>
                <div>מידע כללי</div>

                @Html.TextAreaFor(m => m.shpDetail.Information, 10, 120, htmlAttributes: new { style = "width: 60%; max-width: 50%;text-align: right;" })

            </div>
        </div>

        <div class="form-group">
            <div style="text-align:center" ;>
                <div>מחלות רקע</div>
                <div class="input-group">
                    @for (var i = 0; i < Model.shpDiseases.Count; i++)
                    {

                        @Html.TextBoxFor(m => Model.shpDiseases[i].ShpDisease)
                    }
                </div>
            </div>
        </div>



        <div class="form-group">
            <div style="text-align:center" ;>
                <div>חיסון שלקח/ה ככבש/ה</div>
                <div class="input-group">
                    @for (var i = 0; i < Model.shpVac.Count; i++)
                    {

                        @Html.TextBoxFor(m => Model.shpVac[i].Medicine)
                    }
                </div>
            </div>
        </div>
        <div class="form-group">
            <div style="text-align:center" ;>
                <div>תאריך שבו הכבש יקח את החיסון </div>
                <div class="input-group">
                    @for (var i = 0; i < Model.shpVac.Count; i++)
                    {

                        @Html.TextBoxFor(m => Model.shpVac[i].NextVaccinationDate)
                    }
                </div>
            </div>
        </div>

        <div class="form-group">
            <div style="text-align:center" ;>
                <div>תאריך ההמלטה האחרון</div>
                <div class="input-group">
                    @for (var i = 0; i < Model.shpHamlata.Count; i++)
                    {
                        @Html.TextBoxFor(m => Model.shpHamlata[i].DateOfHamlata)
                    }
                </div>
            </div>
        </div>
        <div class="form-group">
            <div style="text-align:center" ;>
                <div>תאריך שבירת הריון </div>
                <div class="input-group">

                    @for (var i = 0; i < Model.shpHamlata.Count; i++)
                    {
                        @Html.TextBoxFor(m => Model.shpHamlata[i].DateOfTakser)
                    }

                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="button" title="דף ראשי" value="עבור לדף הראשי" onclick="location.href='@Url.Action("ShowMyHome", "Home")'" class="btn btn-info" />
            <input type="submit" value="עדכן" class="btn btn-warning" />
            <input type="button" value="מחק" class="btn btn-danger" />
        </div>

    </div>


}

