@model List<DeerManager.Models.Hamlata>

@{
    ViewBag.Title = "Hamlatot";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}




<style>
    table.dataTable.select tbody tr,
    table.dataTable thead th:first-child {
        cursor: pointer;
    }

    #sheeps {
        border: 5px outset red;
        background-color: lightblue;
        text-align: center;
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

    #bootstrap-alert {
        margin: auto;
        width: 390px;
        font-size: large;
        box-shadow: 1px 1px 3px black;
    }

</style>




<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.5/js/dataTables.select.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.5/css/select.dataTables.min.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<!-- THIS IS BOOTSTRAP ALERT -->
<div class='alert alert-success' style='display:none;font-style:italic; text-align:center;' id='bootstrap-alert'>
    התהליך בוצע בהצלחה
    <div id="date"></div>
</div>

<div class='alert alert-success' style='display:none;font-style:italic; text-align:center;' id='deleteAlert'>
    תאריך המלטה נמחק בהצלחה
</div>

@using (Html.BeginForm())
{
<body>
    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <div style="text-align:center;">
                    <select name="GroupIdSelection" id="GroupSelect" onchange="Display(this.options[this.selectedIndex].value)">
                        <option value="0">--בחר קבוצה--</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                    <table id="sheeps" class="display select" cellspacing="0" width="100%" style="text-align:center;">
                        <thead>
                            <tr>
                                <th><input name="select_all" value="1" type="checkbox"></th>
                                <th>תעודת זהות</th>
                                <th>מספר הכבש</th>
                                <th>סוג הדם</th>
                                <th>קבוצה</th>
                                <th>תאריך המלטה אחרון</th>
                                <th>כמות טלאים</th>
                                <th>ממוצע טלאים</th>
                                <th>ימים שעברו</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>תעודת זהות</th>
                                <th>מספר הכבש</th>
                                <th>סוג הדם</th>
                                <th>קבוצה</th>
                                <th>תאריך המלטה אחרון</th>
                                <th>כמות טלאים</th>
                                <th>ממוצע טלאים</th>
                                <th>ימים שעברו</th>
                            </tr>
                        </tfoot>
                    </table>
                    <div style="text-align:center;">
                        <div style="text-align:center" ;>
                            <div class="form-group" style="direction: rtl;">
                                <h4> תאריך המלטה</h4>
                                <input type="date" id="DateOfHamlata" name="DateOfHamlata">
                                <h4> כמות טלאים </h4>
                                <input type="number" id="amountText" name="amountText" required>
                            </div>
                        </div>
                        <a class="btn btn-primary" style="margin-bottom:10px" onclick="updateHamlatot()"><i class="fa icon-plus"></i> הוסף המלטה לקבוצה </a>
                        <a class="btn btn-danger" style="margin-bottom:10px" onclick="RemoveHamlatot()"><i class="fa icon-remove-sign"></i> מחק תאריך המלטה </a>
                    </div>
                </div>
            </div>
            <div class="rightcolumn">
                <div class="card">
                    <h3 style="text-align:center;">קבוצות היולדות בקרוב</h3>
                    <div id="updates" style="text-align:center;font-size:18px;direction: rtl;"></div>
                </div>
                <div class="card">
                    <h3 style="text-align:center;">קבוצות היולדות מאוחר יותר</h3>
                    <div id="laterupdate" style="text-align:center;font-size:18px;direction: rtl;"></div>
                </div>
            </div>
        </div>
</body>
}

<script>
    $(document).ready(function () {
            $.ajax({
            url: '@Url.Action("soonHamlata", "Home")',
            dataType: "json",
            type: "GET",
                success: function (msg) {
                    if (msg.flag == false || msg.result == "Null") {
                        document.getElementById("updates").innerHTML = "אין קבוצה שאמורה ללדת בקרוב";
                        document.getElementById("updates").style.color = "red";
                    }
                    else {
                        document.getElementById("updates").innerHTML =
                            " בתאריך " + msg._date + " היה הזרעה לקבוצה " + msg.shpsgroup + " מאז עברו " + msg.max +" ימים " + " ונשאר "+msg.still +" ימים ";
                        document.getElementById("updates").style.color = "green";
                    }
            }
            });
            $.ajax({
            url: '@Url.Action("LaterHamlata", "Home")',
            dataType: "json",
            type: "GET",
                success: function (msg) {
                    if (msg.result == "Null" || msg.result == false) {
                        document.getElementById("laterupdate").innerHTML = "אין קבוצה שאמורה ללדת";
                        document.getElementById("laterupdate").style.color = "red";
                    }
                    else {
                        document.getElementById("laterupdate").innerHTML =
                            " בתאריך " + msg._date + " היה הזרעה לקבוצה " + msg.shpsgroup + " מאז עברו " + msg.max + " ימים ";
                        document.getElementById("laterupdate").style.color = "green";
                    }
            }
            });
    });
        //
    // Updates "Select all" control in a data table
    //
    function updateDataTableSelectAllCtrl(table) {
        var $table = table.table().node();
        var $chkbox_all = $('tbody input[type="checkbox"]', $table);
        var $chkbox_checked = $('tbody input[type="checkbox"]:checked', $table);
        var chkbox_select_all = $('thead input[name="select_all"]', $table).get(0);

        // If none of the checkboxes are checked
        if ($chkbox_checked.length === 0) {
            chkbox_select_all.checked = false;
            if ('indeterminate' in chkbox_select_all) {
                chkbox_select_all.indeterminate = false;
            }
            // If all of the checkboxes are checked
        } else if ($chkbox_checked.length === $chkbox_all.length) {
            chkbox_select_all.checked = true;
            if ('indeterminate' in chkbox_select_all) {
                chkbox_select_all.indeterminate = false;
            }
            // If some of the checkboxes are checked
        } else {
            chkbox_select_all.checked = true;
            if ('indeterminate' in chkbox_select_all) {
                chkbox_select_all.indeterminate = true;
            }
        }
    }

    //this function to check weither each column in specific group vacinated.
    function AddHamlata() {
        oTable = $("#sheeps").dataTable(); // Get the datatable,
        oTable.$('tr').each(function (index, rowhtml) { //Loop through the table rows
            var checked = $('input[type="text"][name="hamlatadate"]', rowhtml);
            var checked2 = $('input[type="text"][name="dayshamlata"]', rowhtml);
            var checked3 = $('input[type="text"][name="amount"]', rowhtml);
            var checked4 = $('input[type="text"][name="avg"]', rowhtml);
            var sendObj = { id: rowhtml.children[1].innerText } //creating json obj]
            $.ajax({
            url: '@Url.Action("HamlataDetails", "Home")',
            dataType: "json",
            data: sendObj,
            type: "GET",
                success: function (msg) {
                    if (msg.emailSent == "null") {
                        $(checked).val("אין")
                        $(checked2).val("0")
                        $(checked2).attr('style', 'color:red;text-align:center;');
                        $(checked3).val("0")
                        $(checked3).attr('style', 'color:red;text-align:center;');
                        $(checked4).val("0")
                        $(checked4).attr('style', 'color:red;text-align:center;');
                    }
                    else {
                        $(checked2).val(msg.Days)
                        $(checked2).attr('style', 'color:green;text-align:center;');
                        $(checked).val(msg.emailSent)
                        $(checked).attr('style', 'color:green;text-align:center;');
                        $(checked3).val(msg.amount)
                        $(checked3).attr('style', 'color:green;text-align:center;');
                        $(checked4).val(msg.avg)
                        $(checked4).attr('style', 'color:green;text-align:center;');
                    }
            }
            });
        });
    }
    function Display(id) {
        var table = $('#sheeps').DataTable();
        table.destroy();
        // Array holding selected row IDs
        var rows_selected = [];
        var urls = '@Url.Action("GetListByGroup", "Home")/' + id;
        var table = $('#sheeps').DataTable({
            'ajax': {
                "url": urls,
                "type": "GET",
                "daModelatype": "json"
            },
            "columns": [
                {
                    "data": "Id", "render": function (data) {

                        return '<input type="checkbox" name="chkbox">';
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "150px"
                },
                { "data": "Id" },
                { "data": "SheepNum" },
                { "data": "Blood" },
                { "data": "Group" },
                {
                    "data": "Id", "render": function (data) {

                        return '<input type="text" style="color:red; text-align:center;" name="hamlatadate" readonly="readonly">';
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "150px"
                },
                {
                    "data": "Id", "render": function (data) {

                        return '<input type="text" style="color:red; text-align:center;" name="amount" readonly="readonly">';
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "150px"
                },
                {
                    "data": "Id", "render": function (data) {

                        return '<input type="text" style="color:red; text-align:center;" name="avg" readonly="readonly">';
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "150px"
                },
                {
                    "data": "Id", "render": function (data) {

                        return '<input type="text" style="color:red; text-align:center;" name="dayshamlata" readonly="readonly">';
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "150px"
                }
            ],
            responsive: false,
            scrollX: true,
            scrollY: 400,
            scrollCollapse: true,
            select: true,
            destroy: true,
            fixedHeader: {
                header: true,
                headerOffset: $('#header').height()
            },
            "processing": true,
            "language": {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">טוען...</span> ',
                "search": "חיפוש",
                "emptyTable": "אין כבשים בקבצוה שבחרת"
            },
            'order': [[1, 'asc']],
            'rowCallback': function (row, data, dataIndex) {
                // Get row ID
                var rowId = data[0];

                // If row ID is in the list of selected row IDs
                if ($.inArray(rowId, rows_selected) !== -1) {
                    $(row).find('input[type="checkbox"]').prop('checked', true);
                    $(row).addClass('selected');
                }
            },
            "initComplete": function () {
                AddHamlata() //calling the status function
            }
        });
        // Handle click on checkbox
        $('#sheeps tbody').on('click', 'input[type="checkbox"]', function (e) {
            var $row = $(this).closest('tr');

            // Get row data
            var data = table.row($row).data();

            // Get row ID
            var rowId = data[0];

            // Determine whether row ID is in the list of selected row IDs
            var index = $.inArray(rowId, rows_selected);

            // If checkbox is checked and row ID is not in list of selected row IDs
            if (this.checked && index === -1) {
                rows_selected.push(rowId);

                // Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
            } else if (!this.checked && index !== -1) {
                rows_selected.splice(index, 1);
            }

            if (this.checked) {
                $row.addClass('selected');
            } else {
                $row.removeClass('selected');
            }

            // Update state of "Select all" control
            updateDataTableSelectAllCtrl(table);

            // Prevent click event from propagating to parent
            e.stopPropagation();
        });

        // Handle click on table cells with checkboxes
        $('#sheeps').on('click', 'tbody td, thead th:first-child', function (e) {
            $(this).parent().find('input[type="checkbox"]').trigger('click');
        });

        // Handle click on "Select all" control
        $('thead input[name="select_all"]', table.table().container()).on('click', function (e) {
            if (this.checked) {
                $('#sheeps tbody input[type="checkbox"]:not(:checked)').trigger('click');
            } else {
                $('#sheeps tbody input[type="checkbox"]:checked').trigger('click');
            }
            // Prevent click event from propagating to parent
            e.stopPropagation();
        });

        // Handle table draw event
        table.on('draw', function () {
            // Update state of "Select all" control
            updateDataTableSelectAllCtrl(table);
        });

        // Handle form submission event
        $('#frm-sheeps').on('submit', function (e) {
            var form = this;
            // Iterate over all selected checkboxes
            $.each(rows_selected, function (index, rowId) {
                // Create a hidden element
                $(form).append(
                    $('<input>')
                        .attr('type', 'hidden')
                        .attr('name', 'id[]')
                        .val(rowId)
                );
            });
        });
    }
    function showAlerts() {
        window.scrollTo(0, 0);
        document.getElementById("date").innerHTML = " תאריך "+ document.getElementById("DateOfHamlata").value + " התווסף לרשומות ";
        document.getElementById('bootstrap-alert').style.display = 'block';
        setTimeout(function () { document.getElementById('bootstrap-alert').style.display = 'none' }, 2700);
    }
    function deleteAlert() {
        window.scrollTo(0, 0);
        document.getElementById('deleteAlert').style.display = 'block';
        setTimeout(function () { document.getElementById('deleteAlert').style.display = 'none' }, 2700);
    }

    function updateSheep(sheepid, date, amount) {
        var sendObj = { shpid: sheepid, date: date, amount:amount} //creating json obj
            $.ajax({
            url: '@Url.Action("AddSpecificHamlata", "Home")',
            dataType: "json",
            data: sendObj,
            type: "GET",
                success: function (msg) {
                    if (msg.result == false) {
                        alert('כבר נמצא המלטה לכבשה' + sheepid)
                    }
            }
            });
    }
    function updateHamlatot() {
        var date = document.getElementById("DateOfHamlata").value;
        var amount = document.getElementById("amountText").value;
        if (date == "") { return alert('לא נבחר תאריך') }
        if (amount == "" || amount < 0) { return alert('מספר טלאים חייב להיות חיובי')}
        if (amount > 4) { return alert('מספר טלאים חייב להיות קטן מ5')}
        var c = 0; //to count how many sheeps were moved.
        oTable = $("#sheeps").dataTable(); // Get the datatable,
        var loanApplicationNumbers = []; // An array that will contain the "loan application numbers"
        oTable.$('tr').each(function (index, rowhtml) { //Loop through the table rows
            //Check the state of the checkbox
            var checked = $('input[type="checkbox"]:checked', rowhtml).length;
            if (checked == 1) {
                c += 1;
                updateSheep(rowhtml.children[1].innerText, date, amount);
                //If the checkbox is checked, then add the inner text of the cell to the array
                loanApplicationNumbers.push(rowhtml.children[1].innerText);
            }
        });
        if (c == 0) {
            alert('לא נבחרו כבשים מהרשימה');
        } else {
            showAlerts()
            Display(document.getElementById("GroupSelect").value)
        }
    }

    function removeHamlata(sheepid, date) {
        alert(date)
        var sendObj = { id: sheepid, date: date} //creating json obj
        $.ajax({
            url: '@Url.Action("RemoveHamlata", "Home")',
            dataType: "json",
            data: sendObj,
            type: "POST",
            success: function (msg) {
                if (msg.emailSent == "ERROR") {
                    alert('שגיאה בעת מחיקה')
                }
            }
        });
    }


    function RemoveHamlatot() {
        var c = 0; //to count how many sheeps were moved.
        date = document.getElementById("DateOfHamlata").value;
        if (date == "") {return alert('לא נבחר תאריך למחיקת המלטה')}
        oTable = $("#sheeps").dataTable(); // Get the datatable,
        var loanApplicationNumbers = []; // An array that will contain the "loan application numbers"
        oTable.$('tr').each(function (index, rowhtml) { //Loop through the table rows
            //Check the state of the checkbox
            var checked = $('input[type="checkbox"]:checked', rowhtml).length;
           // var date = $('input[type="textbox"]', rowhtml)..;
            if (checked == 1) {
                c += 1;
                removeHamlata(rowhtml.children[1].innerText, date);
                //If the checkbox is checked, then add the inner text of the cell to the array
                loanApplicationNumbers.push(rowhtml.children[1].innerText);
            }
        });
        if (c == 0) {
            alert('לא נבחרו כבשים מהרשימה');
        } else {
            deleteAlert()
            Display(document.getElementById("GroupSelect").value)
        }
    }


</script>

