
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
@{
    ViewBag.Title = "טבלת כבשים";
}

<style>
    .display {
        border: 5px outset red;
        background-color: lightblue;
        text-align: center;
    }

    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }




    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

</style>



<h2 style="text-align:center">טבלה ראשית</h2>
<div style="text-align:right;">
    <a class="btn btn-primary" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddNewSheep","Home")')"><i class="fa fa-plus"></i>הוספה חדשה</a>
    <a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("MoveGroup","Home")')"><i class="fa fa-home"></i>העבר מקבוצה לקבוצה</a>
</div>
<div style="text-align:right;">
    <label class="switch">
        <input type="checkbox" id="alerts" checked>
        <span class="slider round"></span>
    </label>
</div>
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@

<div class="alert alert-warning alert-dismissible" style="text-align:right;">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>שם לב!</strong> מועד חיסון קרוב לפרטים לחץ <a href="#" class="alert-link">כאן</a>.
</div>

<table id="SheepTables" class="display" style="text-align:center;">
    <thead>
        <tr>
            <th>תעודת זהות</th>
            <th>מספר הכבש</th>
            <th>סוג הדם</th>
            <th>מין</th>
            <th>קבוצה</th>
            <th>תאריך לידה</th>
            <th>מידע נוסף</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>תעודת זהות</th>
            <th>מספר הכבש</th>
            <th>סוג הדם</th>
            <th>מין</th>
            <th>קבוצה</th>
            <th>תאריך לידה</th>
            <th>מידע נוסף</th>
        </tr>
    </tfoot>
</table>

<!-- Normal -->
<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts{

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />


    @* Normal *@
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>


    @*<script src="~/Scripts/bootstrap.min.js"></script>*@

    @*For the add new sheep*@

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {

            $("#SheepTables").DataTable(
                {
                    "ajax": {
                        "url": "/Home/GetList",
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "Id" },
                        { "data": "SheepNum" },
                        { "data": "Blood" },
                        { "data": "Gender" },
                        { "data": "Group" },
                        { "data": "Birthday" },
                        {"data":"Id" , "render" : function (data) {
                            return "<a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=\'Delete(" + data + ")\'><i class='fa fa-trash'></i>מחק</a><a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("Details","Home")/" + data + "')><i class='fa fa-pencil'></i>הצג</a>";
                        },
                            "orderable": false,
                            "searchable":false,
                            "width":"100px"
                        }

                    ],

                    "language": {

                        "emptyTable": "הרשימה ריקה , נא להוסיף חיה חדשה בלחיצה על <b>הוספה חדשה</b>"
                    }
                });

        });



    //adding new sheep
    function PopupForm(url) {
        var formDiv = $('<div/>');
        $.get(url)
            .done(function (response) {
                formDiv.html(response);
                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: true,
                    title: 'נא למלות את הנתונים',
                    height: 450,
                    width: 600,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }
                });
        });
    }
    function SubmitForm(form) {
                $.validator.unobtrusive.parse(form);
                if ($(form).valid()) {
                    $.ajax({
                        type: "POST",
                        url: form.action,
                        data: $(form).serialize(),
                        success: function (data) {
                            if (data.success) {
                                Popup.dialog('close');
                                dataTable.ajax.reload();

                                $.notify(data.message, {
                                    globalPosition: "top center",
                                    className: "success"
                                })

                            }
                        }
                    });
                }
                return false;
        }

        function Delete(id) {
            if(confirm('האם אתה בטוח שברצונך למחוק שורה זאת ?'))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete","Home")/' + id,

                    success: function (data) {
                        $("#SheepTables").DataTable().ajax.reload();
                        if (data.success)
                        {

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }
                });
            }
        }
        function findGroup() {
            confirm('ok');
            var table = $('#SheepTables').DataTable();
            table.column('קבוצה').search("8").draw();

        }

        //turn on alerts for upcoming vacs
        $(document).ready(function () {
            if (document.getElementById("alerts").checked) {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("VacAlert","Home")",

                    success: function (msg) {
                        PopupForm("@Url.Action("VacAlert","Home")");
                        //alert(msg);
                    },
                    error: function (msg) {
                        alert(msg);
                    }
                });
            }
        });



        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            $('#SheepTables tfoot th').each(function () {
                var title = $('#SheepTables thead th').eq($(this).index()).text();
                $(this).html('<input type="text" placeholder="חפש ' + title + '" />');
            });

            // DataTable
            var table = $('#SheepTables').DataTable();

            // Apply the search
            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    that
                        .search(this.value)
                        .draw();
                });
            });
        });

    </script>
}