@model List<DeerManager.Classes.VacsAlert>

@{
    Layout = null;
}

<div style="text-align:center; font-size:22px; font-style:italic;">

    @{
        if (Model.Count > 0)
        {
            <h2>שם לב מועד חיסון קרוב</h2>
        }
        for (int i = 0; i < Model.Count; i++)
        {
            if (Model[i].flag == true)
            {
                <div style="color:red;">קבוצה</div>
                @Model[i].Group
                <br />
                <div style="color:red;">תאריך החיסון לשמירת הריון</div>
                @Model[i].NextDate
                <br />
                <div style="color:red;"> ימים שנותרו </div>
                @Model[i].days
                <br />
                <div style="color:red;">  תרופה </div>
                @Model[i].medicine
                if (Model.Count > 1)
                {
                    <h2>-----------------</h2>
                }

            }
        }

   }
</div>

@if(Model.Count < 1)
{
        <h2 style="color:red;">אין חיסונים קרובים</h2>
}

<div class="form-group" style="text-align:center;">
    <input type="submit" value="אל תציג שוב" class="btn btn-warning" onclick="dontshowAgain()" />
</div>

<script>
    function dontshowAgain() {
            Popup.dialog('destroy').remove();
             $.ajax({
                 type: "POST",
                 url: "@Url.Action("ChangeToggle", "Home")",
                 success: function (msg) {
                 },
                 error: function (msg) {
                 }
             });
         }
</script>