@model List<DeerManager.Models.Vaccinations>

@{
    ViewBag.Title = "Vacs";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


<style>
    #sheeps {
        border: 5px outset red;
        background-color: lightblue;
        text-align: center;
    }
</style>
<h2 style="text-align:center; font-style:italic;">דף חיסונים</h2>
<div class='alert alert-success' style='display:none;font-style:italic; text-align:center;' id='bootstrap-alert'>
    התהליך בוצע בהצלחה
    <div id="med"></div>
</div>

<div class='alert alert-success' style='display:none;font-style:italic; text-align:center;' id='deleteAlert'>
    תאריך חיסון נמחק בהצלחה
    <div id="sheepsamount"></div>
</div>
<div style="text-align:center;">
    <div style="text-align:center;">
        <label for="test_redirect">קבוצה</label>
        <select name="test_redirect" id="test_redirect" onchange="Display(this.options[this.selectedIndex].value)">
            <option value="0">-- בחר --</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="8">9</option>
            <option value="8">10</option>
        </select>
    </div>
    <div>
        <div class="form-group" style="direction: rtl;">
            <label for="Medicine">בחר תרופה</label>
            <select name="Medicine" id="Medicine">
            </select>
        </div>
        <div class="form-group" style="direction: rtl;">
            <label for="DateOfVaccination">תאריך שבו לקח את החיסון</label>
            <input type="date" id="DateOfVaccination" name="DateOfVaccination" value="s">
        </div>
        <div class="form-group" style="direction: rtl;">
            <label for="NextVaccinationDate">תאריך שבו יקח שוב את החיסון</label>
            <input type="date" id="NextVaccinationDate" name="NextVaccinationDate">
        </div>
    </div>
    <a class="btn btn-primary" style="margin-bottom:10px" onclick="AddVacForAllCheckBox()"><i class="fa fa-plus"></i> הוסף  </a>
    <a class="btn btn-danger" style="margin-bottom:10px" onclick="RemoveVacs()"><i class="icon-remove"></i> מחק חיסון  </a>
</div>



<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.5/js/dataTables.select.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.5/css/select.dataTables.min.css">
@* Normal *@
<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>




@*For the add new sheep*@

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />




<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />


@using (Html.BeginForm())
{
    <body>

        <table id="sheeps" class="display select" cellspacing="0" width="100%" style="text-align:center;">
            <thead>
                <tr>
                    <th><input name="select_all" value="1" type="checkbox"></th>
                    <th>תעודת זהות</th>
                    <th>מספר הכבש</th>
                    <th>סוג הדם</th>
                    <th>מין</th>
                    <th>קבוצה</th>
                    <th>תאריך לידה</th>
                    <th>סטטוס חיסון</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th>תעודת זהות</th>
                    <th>מספר הכבש</th>
                    <th>סוג הדם</th>
                    <th>מין</th>
                    <th>קבוצה</th>
                    <th>תאריך לידה</th>
                    <th>סטטוס חיסון</th>
                </tr>
            </tfoot>
        </table>
    </body>
}
<script>
        //
    // Updates "Select all" control in a data table
    //
    function updateDataTableSelectAllCtrl(table) {
        var $table = table.table().node();
        var $chkbox_all = $('tbody input[type="checkbox"]', $table);
        var $chkbox_checked = $('tbody input[type="checkbox"]:checked', $table);
        var chkbox_select_all = $('thead input[name="select_all"]', $table).get(0);

        // If none of the checkboxes are checked
        if ($chkbox_checked.length === 0) {
            chkbox_select_all.checked = false;
            if ('indeterminate' in chkbox_select_all) {
                chkbox_select_all.indeterminate = false;
            }
            // If all of the checkboxes are checked
        } else if ($chkbox_checked.length === $chkbox_all.length) {
            chkbox_select_all.checked = true;
            if ('indeterminate' in chkbox_select_all) {
                chkbox_select_all.indeterminate = false;
            }
            // If some of the checkboxes are checked
        } else {
            chkbox_select_all.checked = true;
            if ('indeterminate' in chkbox_select_all) {
                chkbox_select_all.indeterminate = true;
            }
        }
    }
    function checkSoonUpdate(id) {
        PopupForm('@Url.Action("VacAlertByGroup", "Home")/' + id)
    }
    function setCurrentDate() {
        var date = new Date();
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;
        var today = year + "-" + month + "-" + day;
        document.getElementById("DateOfVaccination").value = today;
    }

    //this function to check weither each column in specific group vacinated.
    function checkStatus() {
        oTable = $("#sheeps").dataTable(); // Get the datatable,
        var loanApplicationNumbers = []; // An array that will contain the "loan application numbers"
        oTable.$('tr').each(function (index, rowhtml) { //Loop through the table rows
            var sendObj = { id: rowhtml.children[1].innerText } //creating json obj]
            $.ajax({
            url: '@Url.Action("isVaced", "Home")',
            dataType: "json",
            data: sendObj,
            type: "POST",
                success: function (msg) {
                    alert(msg.emailSent);
            }
            });
        });
    }

    function Display(id) {
        setCurrentDate()
        checkSoonUpdate(id)
        checkStatus(); //bugged fix it
        var table = $('#sheeps').DataTable();
        table.destroy();
        // Array holding selected row IDs
        var rows_selected = [];
        var urls = '@Url.Action("GetListByGroup", "Home")/' + id;
        var table = $('#sheeps').DataTable({
            'ajax': {
                "url": urls,
                "type": "GET",
                "daModelatype": "json"
            },
            "columns": [
                {
                    "data": "Id", "render": function (data) {

                        return '<input type="checkbox" name="chkbox">';
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "150px"
                },
                { "data": "Id" },
                { "data": "SheepNum" },
                { "data": "Blood" },
                { "data": "Gender" },
                { "data": "Group" },
                { "data": "Birthday" },
                {
                    "data": "Id", "render": function (data) {

                        return '<input type="checkbox" name="status" disabled="true" >';
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "150px"
                }
            ],
            "processing": true,
            "language": {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">טוען...</span> ',
                "search": "חיפוש",
                "emptyTable": "אין כבשים בקבצוה שבחרת"
            },
            'order': [[1, 'asc']],
            'rowCallback': function (row, data, dataIndex) {
                // Get row ID
                var rowId = data[0];

                // If row ID is in the list of selected row IDs
                if ($.inArray(rowId, rows_selected) !== -1) {
                    $(row).find('input[type="checkbox"]').prop('checked', true);
                    $(row).addClass('selected');
                }
            },
        });
        // Handle click on checkbox
        $('#sheeps tbody').on('click', 'input[type="checkbox"]', function (e) {
            var $row = $(this).closest('tr');

            // Get row data
            var data = table.row($row).data();

            // Get row ID
            var rowId = data[0];

            // Determine whether row ID is in the list of selected row IDs
            var index = $.inArray(rowId, rows_selected);

            // If checkbox is checked and row ID is not in list of selected row IDs
            if (this.checked && index === -1) {
                rows_selected.push(rowId);

                // Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
            } else if (!this.checked && index !== -1) {
                rows_selected.splice(index, 1);
            }
            if (this.checked) {
                $row.addClass('selected');
            } else {
                $row.removeClass('selected');
            }
            // Update state of "Select all" control
            updateDataTableSelectAllCtrl(table);
            // Prevent click event from propagating to parent
            e.stopPropagation();
        });

        // Handle click on table cells with checkboxes
        $('#sheeps').on('click', 'tbody td, thead th:first-child', function (e) {
            $(this).parent().find('input[type="checkbox"]').trigger('click');
        });

        // Handle click on "Select all" control
        $('thead input[name="select_all"]', table.table().container()).on('click', function (e) {
            if (this.checked) {
                $('#sheeps tbody input[type="checkbox"]:not(:checked)').trigger('click');
            } else {
                $('#sheeps tbody input[type="checkbox"]:checked').trigger('click');
            }
            // Prevent click event from propagating to parent
            e.stopPropagation();
        });

        // Handle table draw event
        table.on('draw', function () {
            // Update state of "Select all" control
            updateDataTableSelectAllCtrl(table);
        });

        // Handle form submission event
        $('#frm-sheeps').on('submit', function (e) {
            var form = this;
            // Iterate over all selected checkboxes
            $.each(rows_selected, function (index, rowId) {
                // Create a hidden element
                $(form).append(
                    $('<input>')
                        .attr('type', 'hidden')
                        .attr('name', 'id[]')
                        .val(rowId)
                );
            });
        });

    }

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetMedsJson", "Home")",
            data: "{}",
            success: function (data) {
                var s = '<option value="0">בחר תרופה</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].Text + '">' + data[i].Text + '</option>';
                }
                $("#Medicine").html(s);
            }
        });
    });
    function showAlerts() {
        window.scrollTo(0, 0);
        document.getElementById("med").innerHTML = " תרופה " + document.getElementById("Medicine").value + " התווסף לרשומות ";
        document.getElementById('bootstrap-alert').style.display = 'block';
        setTimeout(function () { document.getElementById('bootstrap-alert').style.display = 'none' }, 2700);
    }
    function deleteAlert(c) {
        window.scrollTo(0, 0);
        document.getElementById('deleteAlert').style.display = 'block';
        sheepsamount
        document.getElementById("sheepsamount").innerHTML = "סכ הכל "+ c+" כבשים נמחק להם חיסון";
        setTimeout(function () { document.getElementById('deleteAlert').style.display = 'none' }, 2700);
    }

    function updateSheepVac(sheepid, group, med, curdate, nextdate) {
        var sendObj = { shpid: sheepid, group: group, med: med, curdate: curdate, nextdate: nextdate } //creating json obj
        $.ajax({
            url: '@Url.Action("AddSpecificVac", "Home")',
            dataType: "json",
            data: sendObj,
            type: "POST",
            success: function () {
            }
        });
    }
    function AddVacForAllCheckBox() {
        var c = 0; //to count how many sheeps were moved.
        var group, med, curdate, nextdate;
        if (document.getElementById("test_redirect").value == 0) {
            return alert('לא נבחרה קבוצה')
        }
        if (document.getElementById("Medicine").value ==0) {
            return alert('לא נבחרה חיסון')
        }
        if (document.getElementById("DateOfVaccination").value == "") {
            return alert('נא לבחור תאריך חיסון')
        }
        if (document.getElementById("NextVaccinationDate").value == "") {
            return alert('נא לבחור תאריך חיסון הבא')
        }
        group = document.getElementById("test_redirect").value;
        med = document.getElementById("Medicine").value;
        curdate = document.getElementById("DateOfVaccination").value;
        nextdate = document.getElementById("NextVaccinationDate").value;
        oTable = $("#sheeps").dataTable(); // Get the datatable,
        var loanApplicationNumbers = []; // An array that will contain the "loan application numbers"
        oTable.$('tr').each(function (index, rowhtml) { //Loop through the table rows
            //Check the state of the checkbox
            var checked = $('input[type="checkbox"]:checked', rowhtml).length;
            if (checked == 1) {
                c += 1;
                updateSheepVac(rowhtml.children[1].innerText,group,med,curdate,nextdate);
                //If the checkbox is checked, then add the inner text of the cell to the array
                loanApplicationNumbers.push(rowhtml.children[1].innerText);
            }
        });
        if (c == 0) {
            alert('לא נבחרו כבשים מהרשימה');
        } else { showAlerts()}
    }


    function removeVac(sheepid, med) {
        var sendObj = { id: sheepid, Medicine: med } //creating json obj
        $.ajax({
            url: '@Url.Action("RemoveVaccine", "Home")',
            dataType: "json",
            data: sendObj,
            type: "POST",
            success: function () {
            }
        });
    }
    function RemoveVacs() {
        var c = 0; //to count how many sheeps were moved.
        oTable = $("#sheeps").dataTable(); // Get the datatable,
        var loanApplicationNumbers = []; // An array that will contain the "loan application numbers"
        var Med = document.getElementById("Medicine").value;
        var Index = document.getElementById("Medicine").selectedIndex;
        if (Index == 0) {return alert("אנא בחר תרופה שברצונך למחוק")}
        oTable.$('tr').each(function (index, rowhtml) { //Loop through the table rows
            //Check the state of the checkbox
            var checked = $('input[type="checkbox"]:checked', rowhtml).length;
            if (checked == 1) {
                c += 1;
                removeVac(rowhtml.children[1].innerText, Med);
                //If the checkbox is checked, then add the inner text of the cell to the array
                loanApplicationNumbers.push(rowhtml.children[1].innerText);
            }
        });
        if (c == 0) {
            alert('לא נבחרו כבשים מהרשימה');
        } else { deleteAlert(c) }
    }


    function PopupForm(url) {
        var formDiv = $('<div/>');
        $.get(url)
            .done(function (response) {
                formDiv.html(response);
                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: true,
                    title: 'חיסונים',
                    height: 450,
                    width: 600,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }
                });
            });
    }
    function SubmitForm(form) {
        $.validator.unobtrusive.parse(form);
        if ($(form).valid()) {
            $.ajax({
                type: "POST",
                url: form.action,
                data: $(form).serialize(),
                success: function (data) {
                    if (data.success) {
                        Popup.dialog('close');
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                }
            });
        }
        return false;
    }
</script>
